<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">BookRepo</a>
    <nav class="navbar navbar-light bg-light">
      {{#if session.logged_in}}
      <a class="nav-item nav-link" href="/inventory">Inventory</a>
      <a id="logout" class="nav-item nav-link" href="/logout">Logout</a>
      {{else}}
      <a class="nav-item nav-link" href="/login">Login</a>
      {{/if}}
      </nav>
    </nav>
    <!-- Hero -->
    <div class="hero">
        <img src="https://www.pngitem.com/pimgs/m/480-4808505_transparent-bookshelf-with-books-clipart-books-on-shelf.png" class="img-fluid max-width: 100% height: auto" alt="Row of books leaning on laptop">
    </div>
    
    {{{ body }}}

    <footer class = "justify-content-between bg-light">
      <div class= "row-is-full content has-text-centered text-decoration-none">
          <p class="text-decoration-none">
              <strong><i class="fas fa-books"></i> Book Inventory</strong> by <a class="text-decoration-none" href="https://github.com/scottyv6">Scott Vidler</a> - <a class="text-decoration-none" href="https://github.com/cal750">Seth Nightingale</a> - <a class="text-decoration-none" href="https://github.com/BlakeGeo">Blake Georgeff</a> - <a class="text-decoration-none" href="https://github.com/MeghaWhat">Megha Rahman</a> | source code:
              <a class="text-decoration-none" href="https://github.com/cal750/Project-2"><i class="fab fa-github"></i></a> 
          </p>
      </div>
  </footer>
</body>
</html>
