<div class="card">
    <h2 class="text-centre">{{book_name}}</h2>
    <h5 class="text-centre">{{author.author_name}}</h5>
    <img class='singleCover' src="{{cover_url}}" alt="{{book_name}}">
    <button class='btn btn-primary'>Add a review</button>
</div>