<div>
    <div>
        <h2>Welcome to the Book Inventory</h2>
        <p>This web page stores all user uploaded books as well as an user reviews that have been made.</p>
        <p>Login or sign up to gain access to the full book libarry and the ability to upload and review books yourself!</p>
    </div>
    <div>
        
    </div>


</div>