<div class="p-3">
    <div class="text-center mb-5">
        <h2 class="font-weight-bold">Welcome to the Book Inventory</h2>
        <p>This web page stores all user uploaded books as well as any user reviews that have been made.<br>
        Login or sign up to gain access to the full book library and the ability to upload and review books yourself!</p>
    </div>
</div>