<div class="container">
    <h1>📖 Browse Books 📖</h1>
    <div class='input-group' id="searchWrapper">
        <input
            type="text"
            name="searchBar"
            id="searchBar"
            placeholder="start typing to search"
        />
    </div>
    <ul class="container animate__animated animate__fadeInUp" id="bookList"></ul>

    <div class="d-flex justify-content-around align-items-center p-3">
        <p>Can't find what you're looking for?<br>Add a book to the inventory!</p>
        <!-- Button to trigger modal -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#bookModal">Add Book</button>                
        <!-- Modal -->
        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add a Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                    <!-- Form goes here -->
                        <form class="new-book">
                            <div>
                                <input type="text" name="book-title" id="book-title" placeholder="Book title" class="m-2">
                            </div>
                            <div>
                                <input type="text" name="author" id="author" placeholder="Author" class="m-2">
                            </div>
                            <div>
                                <input type="text" id="cover-url" placeholder="Book cover image url" class="m-2">
                            </div>
                            <div>
                                <input type="text" id="review" placeholder="Add your review" class="m-2">
                            </div>    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button submit" class="btn btn-secondary" id="submit">Save book</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
const bookList = document.getElementById('bookList');
const searchBar = document.getElementById('searchBar');
let books = {{{bookString}}};

searchBar.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();

    const filteredBooks = books.filter((book) => {
        return (
            book.book_name.toLowerCase().includes(searchString) ||
            book.author.author_name.toLowerCase().includes(searchString)
        );
    });
    displayBooks(filteredBooks);
});

const displayBooks = (book) => {
  const htmlString = book.map((book) => {
            return `
            <div class="book">
                <h2 class='fas fa-book'><a href="/book/${book.id}"> ${book.book_name}</h2></a>
                <p>Author: ${book.author.author_name}</p>
                <img class='listCover' src='${book.cover_url}'></img>
            </div>
        `;
        })
        .join('');
    bookList.innerHTML = htmlString;

}

</script>

<script src="/js/book.js"></script>
