
<div class="container">
  {{#if review.length}}
  <h3>📖 Browse Reviews 📖</h1>

  <div>
    <h1>{{book.name}}</h1>
    {{#each reviews as |review|}}
    <p>{{review.text}}</p>
    <p> Opinion of {{review.user_name}}</p> 
    {{/each}}
  </div>
  {{/if}}

  <div>
    <button id="addReviewPage">Add your review</button>
  </div>

</div>
<script src="./js/review.js"></script>
