<div class="container">
    <h1>📖 Browse Books 📖</h1>
    <div class='input-group' id="searchWrapper">
        <input
            type="text"
            name="searchBar"
            id="searchBar"
            placeholder="start typing to search"
        />
    </div>
    <ul id="bookList"></ul>
</div>

<script>
const bookList = document.getElementById('bookList');
const searchBar = document.getElementById('searchBar');
let books = {{{bookString}}};

searchBar.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();

    const filteredBooks = books.filter((book) => {
        return (
            book.book_name.toLowerCase().includes(searchString) ||
            book.author.author_name.toLowerCase().includes(searchString)
        );
    });
    console.log(searchString);
    console.log(filteredBooks);
    displayBooks(filteredBooks);
});

const displayBooks = (book) => {
  const htmlString = book.map((book) => {
            return `
            <div class="book">
                <h2 class='fas fa-book'><a href="/book/${book.id}"> ${book.book_name}</h2></a>
                <p>Author: ${book.author.author_name}</p>
                <img class='listCover' src='${book.cover_url}'></img>
            </div>
        `;
        })
        .join('');
    bookList.innerHTML = htmlString;

}
</script>

